# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a2 = a[3:6]
print(a2)

[4, 5, 6]

In [3]:
# create a list of numbers from 1 to 20
li = []
for i in range(1, 21):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

li = []
for i in range(0, 100, 2):
    li.append(i)
print(li)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [5]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def devo(num1, num2):
    return num1/num2

In [6]:
# write a function that takes a string as input
# and return that string in all caps
def Ups(word):
    return word.upper

In [7]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1, 21):
    if i %3 == 0 and i%5 == 0:
        print("fizzbuzz and NOTHING ELSE")
    elif i %3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz and NOTHING ELSE
16
17
fizz
19
buzz

In [8]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

dict = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [14]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("/Users/adityamurali/Documents/MDST/env/data/starbucks.csv")

In [37]:
# output the calories, sugars, and protein columns only of every 40th row. 
certain_columns = df.iloc[::40, df.columns.isin(['calories', 'sugars', 'protein'])]
print(certain_columns)

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [19]:
# select all rows with more than and including 400 calories
certain_calories = df[df["calories"] >= 400]

In [25]:
# select all rows whose vitamin c content is higher than the iron content
vitamin_rows = df[df["vitamin c"] > df["iron"]]

In [27]:
# create a new column containing the caffeine per calories of each drink
df["caffeine_per_calories"] = df["caffeine"]/df["calories"]

In [40]:
# what is the average calorie across all items?
average_calories = df['calories'].mean()

In [36]:
# how many different categories of beverages are there?
num_beverages = df['beverage_category'].nunique()
df.columns

Index(['beverage_category', 'beverage', 'beverage_prep', 'calories',
       'total fat', 'trans fat', 'saturated fat', 'sodium',
       'total carbohydrates', 'cholesterol', 'dietary fibre', 'sugars',
       'protein', 'vitamin a', 'vitamin c', 'calcium', 'iron', 'caffeine',
       'caffeine_per_calories'],
      dtype='object')

In [47]:
# what is the average # calories for each beverage category?
average_num_calories_per_category = df.groupby('beverage_category')['calories'].mean()